.footer {
  text-align: left;
  padding: 2px;
  font-weight: bold;
  font-size: 10px;
}

h1, h2, h3 {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  align-content: center;
  width: 100vw;
}

h1 {
  font-size: 24px;
}

.h-80h {
  height: 80vh;
}

.h-90h {
  height: 95vh;
}

.h-95h {
  height: 95vh;
}

p {
  padding: 10px;
}

ul.instructions {
  list-style-type: circle;
  padding-left: 10px;
  margin-left: 30px;
}

ul.instructions li {
}

