.footer {
  text-align: left;
  padding: 2px;
  font-weight: bold;
  font-size: 10px;
}

h1, h2, h3 {
  padding: 20px;
  font-weight: bold;
  font-size: 16px;
  align-content: center;
  width: 100vw;
}

h1 {
  font-size: 24px;
}

.h-80h {
  height: 80vh;
}

p {
  padding: 10px;
}

